<p style="color: green"><%= notice %></p>

<div class="flex mb-4 justify-content-between align-center">
  <h1 class='text-yellow-500'>Posts</h1>
  <div style='margin-right: 20px;'>
    <%= link_to "New post", new_post_path, class: 'btn btn-outline-warning' %>
  </div>
</div>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="row my-4 justify-between">
      <%= render post %>
    </div>
  <% end %>
</div>
